/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 35px;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: #A239CA;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 8px #c092d36e;
    transform: scale(1.20);
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 30px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgba(105, 105, 105, 0.8);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}


header nav li {
    display: inline-block;
    padding: 0 40px;
}

.logo-img {
    width: 242px;
}

/* ESTILO DO TOPO DO SITE */

.img-topo-site .img-avatar {
    width: 425px;
}

section.topo-do-site {
    padding: 100px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.topo-do-site h1{
    color: white;
    font-size: 50px;
    line-height: 45px;
    word-spacing: 15px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #A239CA;
    font-size: 55px;
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
    letter-spacing: 0.25px;
    text-align: justify;
}

.topo-do-site .txt-topo-site p span {
    color: #A239CA;
    font-weight: 700;
}

.topo-do-site .img-topo-site {
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS HABILIDADES */

.habilidades .interface .flex {
    justify-content: center;
}

section.habilidades {
    padding: 40px 4%;
}

section.habilidades .flex {
    gap: 60px;
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #A239CA;
}

.habilidades .habilidades-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.400);
}

.habilidades .habilidades-box i {
    font-size: 70px;
    color: #A239CA;
}

.habilidades .habilidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

.img-nuvem {
    width: 350px;
}

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: white;    
}

.sobre .txt-sobre h2 {
    font-size: 52px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #A239CA;
    display: block;
    line-height: 40px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #A239CA;
    font-size: 23px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.901);
    transition: .2s;
}

.sobre .txt-sobre .btn-social a {
    padding: 5px;    
}